@{
    ViewBag.Title = "Home Page";
}



<address style="margin-top: 20%">
   Nail Rešidbegović<br />
   Software Developer<br />
   <a href="malito:nail.residbegovic@gmail.com"> nail.residbegovic@gmail.com</a><br />
   +387 61 963 866<br />
   Bosanska 9b , Gračanica 75320
</address>

<address>
    <strong>LinkedIN:</strong>   <a href="https://www.linkedin.com/in/nresidbegovic/">https://www.linkedin.com/in/nresidbegovic/</a><br />
</address>